body {
    background-color: whitesmoke;
}

a {
    -o-transition: 5s;
    -ms-transition: 5s;
    -moz-transition: 5s;
    -webkit-transition: 5s;
    transition: 5s;
}

em {
    font-style: oblique;
}

strong {
    font-style: bold;
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h3 {
    text-transform: capitalize;
    font-size: 1.87em;
}

header {
	background:
	linear-gradient(
	rgba(224,204,200, 1.0),
	rgba(224,204,200,0.90)
	),
	/* bottom, image */
	url(/home/davididntwakeup/Documents/moringa-prep/IP1/img/keyboard.jpg);
	background-size: cover;
	background-position: center top;
	width: 100%;
}

.intro {
	max-width: 960px;
	margin: 0 auto;
	padding: 8% 0;
}

.intro h1 {
	font-size: 6em;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 800;
	line-height: 1.5em;
}

.intro h2 {
	font-size: 2em;
	text-align: center;
	color: #fff;
	font-weight: 300;
	text-transform: capitalize;
}